<div class=" p-4 bg-white flex flex-col border border-gray-100 rounded-lg h-full shadow-custom shadow-slate-500 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700">
    <a>
        <img class="rounded-t-lg h-60 sm:h-70 md:h-80 w-full object-cover cursor-pointer" [src]="imageUrl" alt="" 
            [routerLink]="['/product-detail', productItem?.id]"
        />
    </a>
    <div class="pt-4 text-left flex-grow">
        <a>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900  cursor-pointer dark:text-white"
                [routerLink]="['/product-detail', productItem?.id]" 

            >{{productItem?.name}}</h5>
        </a>
        <p class="text-blue-400 dark:text-pink-300">Bảo hành 12 tháng</p>
        <p class="text-gray-900 dark:text-white my-1.5">Giá: {{productItem?.price | currency: 'USD': 'symbol': '1.2-2' }}</p>

        <app-rating [rate]="4"></app-rating>

        

    </div>

    <div class="text-center mt-2">

        <a class="w-full inline-flex items-center mt-2 px-3 py-2 text-sm font-medium text-center text-white cursor-pointer bg-blue-700 rounded-lg 
            lg:w-auto lg:mr-2 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            (click)="addToCart()"
        >
            Thêm giỏ hàng
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3.5 h-3.5 ml-auto lg:ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
              
            
        </a>
        <a class="w-full inline-flex items-center mt-2 px-3 py-2 text-sm font-medium text-center text-white  cursor-pointer bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 
            lg:w-auto
            dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
            Mua ngay
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ml-auto lg:ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
            
        </a>

    </div>
</div>




