<div class="container w-3/4 text-center mb-4">
    <div class="w-full mx-auto text-black dark:text-white">
        <h1 class="text-4xl font-medium py-2">Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
        <p class="pt-2 pb-8">Các bạn có thể chọn xem sản phẩm và mua hàng tại đây </p>
    </div>
    <div>
        <input class="w-full mb-1 text-sm border py-2 px-2 rounded-md mr-1 outline-current focus:outline text-slate-400 border-slate-400  dark:bg-slate-800
            lg:w-72 sm:w-44" 
            type="text" placeholder="Tìm kiếm sản phẩm"
            [(ngModel)]="search"
        >

        <select class="w-full mb-1 text-sm border py-2 px-2 rounded-md  text-slate-500 dark:bg-slate-800 
            lg:w-52 sm:w-44 dark:text-slate-200" 
            name="selection" id="slt"
            [(ngModel)]="selectedCategoryId"
        >
            <option class="bg-[#c8c8c8] text-white" selected disabled value="0">Danh mục sản phẩm</option>
            <option selected value="0">Tất cả</option>
            <option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</option>
        </select>

        <button type="button" class="text-white bg-blue-700 ml-1 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            (click)="loadProducts()"
        >Tìm</button>

    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 my-6">
    <ng-container *ngFor="let item of products$ | async; trackBy: trackByProduct" >
            <app-card [productItem]="item"></app-card>
            
    </ng-container>
    </div> 
    
    <!-- Pagination -->

    <app-pagination
        [page]="page" 
        [totalPages]="totalPages" 
        [limit]="limit" 
        (pageChange)="onPageChange($event)"
    ></app-pagination>

    
    
</div>

